/* *******************************************************************************
 * default.css
 *
 * Style sheet for ValidFX. This is a rather generic
 * stylesheet. If you want to create your own style rules
 * for ValidFX, copy this stylesheet to ValidFX.css
 * and modify the style rules there.
 *
 * ValidFX.css overrides the rules of default.css.
 *
 *
 * Information about the CSS properties mentioned herein can be
 * found in
 *
 * http://docs.oracle.com/javafx/2/api/javafx/scene/doc-files/cssref.html#intro
 *
 * For choosing HTML colors go to
 *
 * http://www.w3schools.com/colors/colors_picker.asp
 *
 * The property names are very confusing. Read the comments besides each
 * CSS property very carefully.
 *
 * ******************************************************************************/


/* 
   These settings are for
   Stage --> Scene --> BorderPane --> GridPane

   The palette comes from:

   http://paletton.com/#uid=14q0u0kllll9rGbfosyrie8zI6X

*/

.grid {
    -fx-background-color : #110326; 
    -fx-background-image : url("dark-blue-background-portrait.jpg"); /* */

    /* The following rules are meant for background images.
       Commented out since I don't need it for the current rule.
       Placed here for reference. I might need them for some other rules.
 
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    */

    /* -fx-background-radius : 5.0; This sets radius of rounded corners. */
    /* -fx-background-insets : 5.0 5.0 5.0 5.0; Uncomment if you want a white border (inset) around the Widget */
    -fx-hgap : 10pt; /* intergap spacing among horizontal cells */
    -fx-vgap : 15pt; /* intergap spacing between rows of cells */
    -fx-padding : 20pt; /* margin around the grid */
    -fx-spacing : 10pt;  /* spaces between child nodes */
    -fx-alignment : center; /* Alignment of the child nodes within the grid. */
}

.grid2 {
    -fx-background-color : #110326; 
    -fx-background-image : url("dark-blue-background-portrait.jpg"); /* */

    /* The following rules are meant for background images.
       Commented out since I don't need it for the current rule.
       Placed here for reference. I might need them for some other rules.
 
    -fx-background-repeat: stretch;   
    -fx-background-size: 900 506;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
    */

    -fx-fill : #fff9e6;   /* This would be the font color. No joking. */
    -fx-background-radius : 5.0;
    -fx-background-insets : 5.0 5.0 5.0 5.0;
    -fx-padding : 30pt; /* margin around the grid */
    -fx-spacing : 5pt;  /* spaces between child nodes */
    -fx-alignment : left; /* Alignment of the child nodes within the grid. */
}



/* For the HBox containing the OK and Cancel Buttons. */

.button-box {
    -fx-alignment : center-right;   /* Where the buttons are located. */
    -fx-padding : 5pt;              /* The spacing around contents of the HBox */
    -fx-spacing : 10pt;             /* Spacing between Buttons */
    // -fx-background-color : #28114d; /* Color of the HBox */
}

/* For the HBox containing the input fields. */

.text-entry-box {
    -fx-alignment : center-left;   /* Where the buttons are located. */
    // -fx-padding : 5pt;              /* The spacing around contents of the HBox */
    -fx-spacing : 10pt;             /* Spacing between elements of the text-entry-box */
    // -fx-background-color : #28114d; /* Color of the HBox */
}


/* Color of the buttons */

.buttons {
    -fx-background-color : #28114d;
    -fx-text-fill : #ffffff;    /* This is the font color. It is pure white. */
}


/* For the TextFields. I find the default color so glaring. */

.text-entries {
    /* -fx-background-color : #a994ca; */
    -fx-background-color : #ffffff;
    -fx-font-size : 12pt;
}

.h1 { /* For uses similar to HTML's H1 tag. */
    -fx-font-size : 17pt;
    -fx-fill : #fff9e6;   /* This would be the font color. */
    -fx-text-alignment : center;
    -fx-font-weight : normal;
    -fx-padding : 15pt;
}

.dialog-pane {
    -fx-background-color : #a994ca;
}

.h2 { /* For use similar to HTML's H2. */
    -fx-font-size : 14pt;
    -fx-fill : #1a0008;
    -fx-text-alignment : center;
    -fx-font-weight : normal;
}


.field-labels { /* Used for labelling text fields */
    -fx-font-size : 12pt;
    -fx-text-alignment : center;
    -fx-text-fill : #ffffff;    /* This is the font color. It is pure white. */
    /* -fx-fill : #fff9e6;   This is the old color. */
}


.normal-text { /* Used for normal sized Text labels */
    /* -fx-font-size : 12pt; */
    -fx-text-alignment : right;
    -fx-text-fill : #fff9e6;   /* This would be the font color. */
}

